.mt-10 {
    margin-top: 20px;
}

.mb-10 {
    margin-bottom: 20px;
}

#card-a {
    color: #000;
    text-decoration: none;
}

#card-style:hover {
    border-width: medium;
    border-color: blue;
    z-index: 300;
    color: #000;
    text-decoration: none;
}