            .mt-10 {
                margin-top: 20px;
            }
            
            .mb-10 {
                margin-bottom: 20px;
            }
            
            #card-a {
                color: #000;
                text-decoration: none;
                transform: scale(1, 1);
                transition: all 1s ease-out;
                -webkit-transition: all 1s ease-out;
                -moz-transition: all 1s ease-out;
                -ms-transition: all 1s ease-out;
                -o-transition: all 1s ease-out;
                -webkit-transform: scale(1, 1);
                -moz-transform: scale(1, 1);
                -ms-transform: scale(1, 1);
                -o-transform: scale(1, 1);
            }
            
            #card-style {
                background-color: #F9F7F0;
            }
            
            #card-style:hover {
                z-index: 300;
                color: #000;
                background-color: #F9F7F0;
                text-decoration: none;
                transform: scale(1.1, 1.1);
                -webkit-transform: scale(1.1, 1.1);
                -moz-transform: scale(1.1, 1.1);
                -ms-transform: scale(1.1, 1.1);
                -o-transform: scale(1.1, 1.1);
            }
            
            .mb-0 {
                margin-bottom: 0px;
            }