body {
    background-color: #EAFFD0;
    min-height: 100%;
    display: grid;
    /*使用grid排版*/
    grid-template-rows: 0.5fr auto;
    /*將上半部設置為一個單位，剩下的部分設為自動高度* d9d9f3/
}

html {
    height: 100%;
}

.footer {
    grid-row-start: 2;
    /*欄位從第二條橫線開始*/
    grid-row-end: 3;
    /*欄位從第三條橫線結束*/
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
* {
    font-family: 'Noto Sans TC';
    font-weight: 900;
}

.white-block {
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-10 {
    margin-bottom: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-30 {
    margin-left: 40px;
}

.w-300h-500 {
    width: 300px;
    height: 500px;
}

.right {
    float: right;
}

.btn-box {
    overflow: hidden;
}

.btn-box>button {
    margin: 1%;
    border-radius: 20px;
    width: 100px;
    padding: 6px 12px;
}

.box {
    padding: 0;
    width: 999px;
    height: 100px;
    margin: auto;
    overflow: hidden;
}

.btn-image_where {
    margin-top: 3px;
    margin-right: 5px;
}

.list {
    margin: 0;
}

.of-y {
    overflow-y: hidden;
}

.ul-of {
    white-space: nowrap;
    overflow: visible;
    width: 100px;
}

.photo:hover {
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
}

.fz-24 {
    font-size: 24px;
}

.photo,
.photo>img {
    background-color: rgb(238, 235, 235);
    width: 150px;
    height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 3.5rem;
    display: inline-block;
}

.fa-love {
    font-size: 1.25em;
    line-height: 0em;
    vertical-align: -0.075em;
    color: #ff8a80;
    float: right;
}

.pic-place {
    background-position: right bottom;
}


/* #page-text>#text-area:hover {
border: 2px dashed rgb(0, 0, 0);
background-color: grey;
color: white;
opacity: 40%;
content: '設計一個有趣的旁白';
font-size: .8em;
} */

.btn-style-choose {
    border: none;
    padding: 0px !important;
}

.photo {
    display: inline-block;
    position: relative;
}

.image-remove {
    top: 5%;
    right: -5%;
    display: block;
    position: absolute;
}

.fa-circle-xmark {
    font-size: .5em!important;
    line-height: 0em!important;
}

.photo {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    align-content: stretch;
}

.page-num {
    flex-direction: column;
    display: flex;
    font-size: 18px;
}