<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          進階功能
        </button>
      </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="accordion-body">
          <div class="container">
              {% load static %}
              <div class="row mt-10">
                  <label class="col-md-3">擺放</br>位置</label>
                  <div class="col-md-9">
                    <button id="area-top"
                      {% if  pages.img_location == 'area-top'%}
                        class="btn btn-outline-success shadow-sm btn-up active"
                      {% else %}
                        class="btn btn-outline-success shadow-sm btn-up"
                      {% endif %}
                      class="btn btn-outline-success shadow-sm btn-up active"
                      type="button"
                      onclick="Changelocation(0)"
                    >
                      <img
                        src="{% static 'image/image-up.png' %}"
                        style="width: 25px; height: 25px"
                      />
                    </button>
                    <button
                      id="area-bottom"
                      {% if  pages.img_location == 'area-bottom'%}
                      class="btn btn-outline-success shadow-sm btn-down active"
                      {% else %}
                        class="btn btn-outline-success shadow-sm btn-down"
                      {% endif %}                
                      type="button"
                      onclick="Changelocation(1)"
                    >
                      <img
                        src="{% static 'image/image-down.png' %}"
                        style="width: 25px; height: 25px"
                      />
                    </button>
                    <button
                      id="area-left"
                      {% if  pages.img_location == 'area-left'%}
                      class="btn btn-outline-success shadow-sm btn-left active"
                      {% else %}
                        class="btn btn-outline-success shadow-sm btn-left"
                      {% endif %}  
                      class="btn btn-outline-success shadow-sm btn-left"
                      type="button"
                      onclick="Changelocation(2)"
                      style="margin-top:2%;"
                    >
                      <img
                        src="{% static 'image/image-left.png' %}"
                        style="width: 25px; height: 25px"
                      />
                    </button>
                    <button
                      id="area-right"
                      {% if  pages.img_location == 'area-right'%}
                      class="btn btn-outline-success shadow-sm btn-right active"
                      {% else %}
                        class="btn btn-outline-success shadow-sm btn-right"
                      {% endif %}  
                      type="button"
                      onclick="Changelocation(3)"
                      style="margin-top:2%;"
                    >
                      <img
                        src="{% static 'image/image-right.png' %}"
                        style="width: 25px; height: 25px"
                      />
                  </button>
                  
                </div>
                <!-- row -->
                  
              <div class="row mt-10">
                <label class="col-md-3 col-form-label">steps</label>
                <div class="col-md-9">
                  <input
                    id="steps"
                    type="number"
                    min="5"
                    max="500"
                    name="steps"
                    class="form-control"
                    value="{{pages.steps}}"
                  />
                  <div class="invalid-feedback">請輸入steps</div>
                </div>
              </div>
              <!-- column -->
    
              <div class="row mt-10">
                <label class="col-md-3 col-form-label">scale</label>
                <div class="col-md-9">
                  <input
                    id="scale"
                    type="number"
                    min="1"
                    max="20"
                    name="scale"
                    step="0.5"
                    value="{{pages.scale}}"
                    class="form-control"
                  />
                  <div class="invalid-feedback">請輸入scale</div>
                </div>
              </div>
              <!-- column -->
    
              <div class="row mt-10 mb-10">
                <label class="col-md-3 col-form-label">seed</label>
                <div class="col-md-9">
                  <input
                    id="seed"
                    type="number"
                    name="seed"
                    min="1"
                    step="1"
                    value="{{pages.seeds}}"
                    class="form-control"
                  />
                  <div class="invalid-feedback">請輸入seed</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          關鍵字資料庫
        </button>
      </h2>
    <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="accordion-body">
            
              <div class="row" >
                <div class="col-md-12">
                  <div id="promptbase" class="btn-box pre-scrollable" style="overflow-x: hidden;overflow-y: auto;display: flex;flex-wrap: wrap;padding: 0.5rem;">
                    {% for category in categories %}
                    <button class="btn btn-outline-dark radius" style="margin: 0.2rem; padding: 0.1rem; width: 80px" type="button" onclick="showKeyword(this)" value="{{category.id}}">
                      {{category.name}}
                    </button>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <!-- row -->
            
          </div>
        </div>
      </div>
    </div>
</div>


  <div class="row">
    <div class="col-md-12 mt-10">
      <textarea id="promptArea" name="prompt" class="form-control" style="resize: none;" onkeyup="updatePrompt()" placeholder="可自行輸入圖片的關鍵字或透過上方類別選擇!" value="{{pages.prompt}}">{{pages.prompt}}</textarea>
    </div>
  </div>

  <div class="d-grid gap-2 d-md-block text-center mt-10 mb-10">
    <button class="btn btn-success btn-round btn-block shadow-sm" type="submit">產生圖片</button>
  </div>
  
  <script>
    function Changelocation(num) {
      let location_id = ["area-top", "area-bottom", "area-left", "area-right"];
      for (let n = 0; n < 4; n++) {
        document.getElementById(location_id[n]).classList.remove("active");
      }
      let btn = document.getElementById(location_id[num]);
      btn.classList.add("active");
      let page_cover = document.getElementById("page-cover");
      page_cover.className = location_id[num];
    }
  </script>