<!-- 頁數選擇 -->
<div class="container mt-10 markerspaceLoadpages">
  <div class="row">
    <div
      id="scrollpage"
      class="col-lg-11 col-sm-12 loadpages of-y white-block shadow-lg rounded"
      style="padding-bottom: 0px"
    >
      <ul class="ul-of" style="padding-left: 0">
        {% for page in pages %}
        <li
          class="photo"
          type="button"
          onclick="showpage({{page.page_number}})"
          value="{{page.page_number}}"
        >
          {% if page.image is not empty %}
          <img
            id="page{{page.page_number}}"
            style="
              background-size: cover;
              background-repeat: no-repeat;
              border-radius: 15px;
              height: 100px;
              width: 155px;
              background-image: url('data:image/png;base64,{{page.image}}');
            "
          />
          {% else %}
          <div
            id="page{{page.page_number}}"
            style="
              background-size: cover;
              background-repeat: no-repeat;
              background-color: white;
              border-radius: 15px;
              height: 100px;
              width: 155px;
            "
          ></div>
          {%endif%}

          <div
            class="image-remove"
            id="del"
            type="button"
            onclick="remove({{page.page_number}})"
          >
            <i class="fa-solid fa-circle-xmark"></i>
          </div>
          {%if page.page_number == 0 %}
          <p class="page-num text-center">封面頁</p>
          {%else%}
          <p class="page-num text-center">{{page.page_number}}</p>
          {%endif%}
        </li>
        {% endfor %}
        <li id="add" class="photo text-center" type="button">
          <p
            style="
              height: 100px;
              width: 155px;
              margin-bottom: 0px;
              background-color: rgb(255, 255, 255);
              border: 2px dashed rgbu;
              border-radius: 10px;
              font-weight: 800;
            "
          >
            +
          </p>
          <p class="page-num">新增</p>
        </li>
      </ul>
    </div>
    <div class="col-lg-1 col-sm-12">
      <form action="../../savebook/{{book.id}}/" method="post">
        <div class="d-grid gap-2 markerspaceBtn">
          <button
            class="btn btn-success btn-round btn-block shadow-sm"
            type="submit"
            onclick="showpage({{pages.page_number}});"
          >
            <i class="fa-solid fa-arrow-right fa-2x"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% include 'loadpagefunction.html' %}
