<div class="container markerspaceMain">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-sm-11 shadow-lg rounded-1" style="padding: 20px">
      <form
        id="generate"
        method="POST"
        class="form-group needs-validation"
        novalidate
      >
        {% csrf_token %}
        <input type="hidden" id="bid" name="bid" value="{{book.id}}" />
        {% if pages.page_number == 0 %}
        <p id="show_page_number" class="text-center fz-24">封面</p>
        {% else %}
        <p id="show_page_number" class="text-center fz-24">
          第 {{pages.page_number}} 頁
        </p>
        {% endif %}

        <input
          id="page"
          type="hidden"
          name="page"
          value="{{pages.page_number}}"
          readonly="readonly"
        />
        {% include 'makerspace/left.html'%}
      </form>
    </div>
    <div class="col-lg-8 col-sm-12 markerspaceImg">
      {% include 'makerspace/right.html'%}{% include 'generate.html'%}
    </div>
  </div>
</div>
<style>
  img[src=""],
  img:not([src]) {
  }
</style>
