{% extends 'base.html' %}{% block content %}
<form action="{% url 'save' book.id %}" method="post">
  <div class="container mt-10 mb-10">
    <div class="row">
      <!--儲存設定-->
      <div class="col-8 white-block ml-30">
        <div class="row">
          <!--狀態列-->
          <div class="col-7">
            {% if cover_page.image != none %}
              <img name="cover_page" src="data:image/png;base64,{{cover_page.image}}" class="img-fluid" alt="..."/>
            {% else %}            
              <img src="https://fakeimg.pl/500x250/?text=none&font=lobster" class="mx-auto d-block img-fluid" alt="..." style="border-radius: 10px"/>
            {% endif %}
              <div class="mb-3 mt-10">
              <label class="form-label">類別：</label>
              <select class="form-select" aria-label="Default select example">
                <option selected disabled>請選擇類別</option>
                <option value="1">類別1</option>
                <option value="2">類別2</option>
                <option value="3">類別3</option>
              </select>
              <div class="invalid-feedback">請選擇類別</div>
            </div>
            <p>頁數：{{pages}}頁</p>
            <label class="form-label">狀態：</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="open" checked>
              <label class="form-check-label" for="open">
                公開
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="private">
              <label class="form-check-label" for="private">
                私密
              </label>
            </div>
          </div>
          <!--狀態列-->
          <!--故事設定列-->
          <div class="col-5">
            <div class="mb-3">
              <label for="book_title" class="form-label">故事標題：</label>
              <input
                type="text"
                class="form-control"
                id="book_title"
                name="book_title"
                placeholder=""
                value="{{book.title}}"
              />
              <div class="invalid-feedback">請輸入故事標題</div>
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">大綱：</label>
              <textarea
                class="form-control"
                id="description"
                name="description"
                rows="10"
              >
{{book.description}}</textarea
              >
              <div class="invalid-feedback">請輸入大綱</div>
            </div>
          </div>
          <!--故事設定列-->
        </div>
      </div>
      <!--儲存設定-->

      <!--作者資訊-->
      <div class="col-3 white-block ml-10">
        <p class="text-center fz-24">作者資訊</p>
        <img
          src="https://fakeimg.pl/200x200/?text={{book.author}}&font=lobster"
          class="mx-auto d-block img-fluid"
          alt="..."
          style="border-radius: 50%"
        />
        <p class="text-center mt-10">作者名稱</p>
        <p class="text-center">{{book.author}}</p>
        <div class="d-grid gap-2">
          <button class="btn btn-success mt-10" type="submit">儲存</button>
        </div>
      </div>
      <!--作者資訊-->
    </div>
  </div>
</form>


{% endblock%}
