<!--移除頁面功能-->

<script>
  //演算法
  //1. 取得事件
  function remove(num) {
    let pagelength = document.querySelectorAll("#del");
    if (pagelength.length < 1) {
      alert("至少保留一頁!");
    } else {
      $(document).ready(function () {
        $.ajaxSetup({
          data: { csrfmiddlewaretoken: "{{ csrf_token }}" },
        });
        $.ajax({
          url: "../remove/",
          method: "POST",
          data: {
            id: bid,
            page: num, // 2. 取得ID、頁碼
          }, // 將表單資料用打包起來送出去
          dataType: "html",
          success: function (response) {
            //3. 執行delete function
            let loadpages = response;
            $("#loadpages").html(loadpages);
            num = Number("{{pages.last.page_number}}");
            showpage(num - 1);
          },
        });
      });
    }
  }
</script>

<!--添加頁面功能-->
<script>
  document.getElementById("add").addEventListener("click", function () {
    $(document).ready(function () {
      $.ajax({
        url: "../insert/", // 要傳送的頁面
        method: "POST", // 使用 POST 方法傳送請求
        data: {
          id: bid,
        }, // 將表單資料用打包起來送出去
        dataType: "html",
        success: function (response) {
          let loadpages = response;
          $("#loadpages").html(loadpages);
          let num = "{{pages.last.page_number}}";
          num = Number(num) + 1;
          showpage(num);
          //將頁面滑至最底
          document.getElementById("scrollpage").scrollLeft =
            document.getElementById("scrollpage").scrollWidth;
        },
      });
    });
  });
</script>
<!--顯示所選頁面資訊-->
<script>
  function showpage(num) {
    $(document).ready(function () {
      console.log($("#page").val());
      console.log($("#text-area").val());
      console.log($("#page-cover").attr("class"));

      let old_page_num = $("#page").val();
      let old_page_text = $("#text-area").val();
      let old_page_cover = $("#page-cover").attr("class");

      $.ajaxSetup({
        data: { csrfmiddlewaretoken: "{{ csrf_token }}" },
      });
      $.ajax({
        url: "../showpage/", // 要傳送的頁面
        method: "POST", // 使用 POST 方法傳送請求
        data: {
          old_page_num: old_page_num,
          old_page_text: old_page_text,
          id: bid,
          page: num,
          old_page_cover: old_page_cover,
        }, // 將表單資料用打包起來送出去
        dataType: "html",
        //若成功-> localStroge
        success: function (response) {
          $("#main").html(response);
          updatePrompt();
        },
      });
    });
  }
</script>
