{%extends 'base.html'%} {%block content%}
<div class="jumbotron jumbotron-lg jumbotron-fluid mb-0 pb-5 bg-warning position-relative">
	<div class="container text-white h-100 tofront">
		<div class="row align-items-center justify-content-center text-center">
			<div class="col-md-10">
				<h1 class="display-3" style="color: #343a3e; font-weight: 600">選擇創作風格</h1>
        <hr>
        <h4 style="color: #343a3e; font-weight: 600">
          你可以從下列選單中，選擇接下來創作中所使用的風格，你的創作將會採取指定風格。
        </h4>
			</div>
		</div>
	</div>
</div>

<div class="container mb-10" style="margin-top:5%;">
  <div class="row">
    <div class="col-12">
    <form action="{% url 'MakerSpace' %}" method="post">
      <input type="hidden" id="book_Id" name="book_Id" value="{{book_id}}" />
      <div class="row">
        {% for style in stylebase %}
        <div class="col-sm-3 mt-10">
          <button name="style_Id" value="{{style.styleID}}" class="btn btn-style-choose" type="submit">
          <a  id="card-a" href="#style?ID={{style.styleID}}" onclick="getStyle('{{style.styleID}}')" >
            <div id="card-style" class="card h-100">
              <img src="{{style.style_preview.url}}" class="card-img-top" alt="..."/>
              <div class="card-body">
                <h5 id="{{style.styleID}}" class="card-title">
                  {{style.name}}
                </h5>
              </div>
            </div>
          </a>
        </button>
        </div>
        {%endfor%}
      </div>
    </div>
  </form>

    
</div>
<script>
  function getStyle(style_Id) {
    document.getElementById("style_Id").value = style_Id;
  }

</script>
{% endblock%}