{%extends 'base.html'%} {%block content%}
<div class="container mt-10 mb-10">
  <div class="row">
    <div
      class="col-9 pre-scrollable"
      style="
        overflow-x: hidden;
        overflow-y: auto;
        height: 500px;
        scrollbar-gutter: stable;
      "
    >
      <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for style in stylebase %}
        <div class="col">
          <a id="card-a" href="#style?ID={{style.styleID}}">
            <div id="card-style" class="card h-100">
              <img
                src="https://fakeimg.pl/300x200/?text=300X200&font=lobster"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 id="{{style.styleID}}" class="card-title">
                  {{style.name}}
                </h5>
              </div>
            </div>
          </a>
        </div>
        {%endfor%}
      </div>
    </div>

    <div class="col-3">
      <div class="card">
        <div class="card-header">選擇創作風格</div>
        <div class="card-body">
          <p class="card-text">
            你可以從左邊選單中，選擇接下來創作中所使用的風格，你的創作將會採取指定風格。
          </p>
        </div>
      </div>
      <button
        class="btn btn-outline-success mt-10"
        onclick="next()"
        type="button"
      >
        下一步
      </button>
    </div>
  </div>
</div>
<script>
  function next() {
    let styleID = location.hash.split("?ID=")[1];
    let bookID = "{{book_id}}";
    console.log(styleID + bookID);
    fetch("{% url 'MakerSpace' %}", {
      method: "POST",
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ styleID: styleID, bookID: bookID }),
    });
  }
</script>

{% endblock%}
