{%extends 'base.html'%} {%block content%}
<div class="container mt-10 mb-10">
  <div class="row">
    <div
      class="col-9 pre-scrollable"
      style="
        overflow-x: hidden;
        overflow-y: auto;
        height: 500px;
        scrollbar-gutter: stable;
      "
    >
      <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for style in stylebase %}
        <div class="col">
          <a id="card-a" href="#style?ID={{style.styleID}}">
            <div id="card-style" class="card h-100">
              <img
                src="https://fakeimg.pl/300x200/?text=300X200&font=lobster"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 id="{{style.styleID}}" onclick="getStyle('{{style.styleID}}')" class="card-title">
                  {{style.name}}
                </h5>
              </div>
            </div>
          </a>
        </div>
        {%endfor%}
      </div>
    </div>

    <div class="col-3">
      <div class="card">
        <div class="card-header">選擇創作風格</div>
        <div class="card-body">
          <p class="card-text">
            你可以從左邊選單中，選擇接下來創作中所使用的風格，你的創作將會採取指定風格。
          </p>
        </div>
      </div>
      <form action="{% url 'MakerSpace' %}" method="post">
        <input type="hidden" id="book_Id" name="book_Id" value='{{book_id}}'>
        <input type="hidden" id="style_Id" name="style_Id" value=''>
        <button
          class="btn btn-outline-success mt-10"
          type="submit"
        >
          下一步
        </button>      
      </form>
    </div>
  </div>
</div>
<script>
  function getStyle(style_Id){
    document.getElementById('style_Id').value = style_Id;
  }
</script>
{% endblock%}
