/* 圖像區 */

div#page-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.area-top {
  display: flex;
  flex-direction: column;
  div#page-image {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    object-fit: fill;
    width: 100%;
    height: 60%;
  }
  #page-text {
    width: 100%;
    height: 40%;
  }
}

.area-bottom {
  display: flex;
  flex-direction: column-reverse;
  div#page-image {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    object-fit: fill;
    width: 100%;
    height: 60%;
  }
  #page-text {
    width: 100%;
    height: 40%;
  }
}

.area-left {
  display: flex;
  flex-direction: row;
  div#page-image {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    object-fit: fill;
    width: 60%;
    height: 100%;
  }
  #page-text {
    height: 100%;
    width: 40%;
  }
}

.area-right {
  display: flex;
  flex-direction: row-reverse;
  div#page-image {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    object-fit: fill;
    width: 60%;
    height: 100%;
  }
  #page-text {
    height: 100%;
    width: 40%;
  }
}

#page-cover {
  width: 100%;
  height: 80vh;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  box-shadow: rgba(0, 0, 0, 0.3) 10px 10px 30px;
}

#page-text {
  display: flex;
  justify-content: center;
  align-items: center;
  order: 0;
}

#page_text {
  height: 80%;
  width: 80%;
  justify-content: center;
  align-items: center;
  resize: none;
  padding: 15px;
  border: 0px;
}

#text-area {
  height: 80%;
  width: 80%;
  justify-content: center;
  align-items: center;
  resize: none;
  padding: 15px;
  position: relative;
  border: 0px;
}

#text-area:hover {
  border: 0.2rem dashed black;
  opacity: 30%;
  background-color: gray;
}
